// Index variables

$table-background-color : #ffffff;
$table-header-color: #ffffff;
$table-header-background-color :  #1c2a7d;
$table-hover-background-color: darken($table-background-color, 8%);
$table-even-background-color: darken($table-background-color, 4%);

// Update variables

$form-bg: #ffffff;
$form-border: #1c2a7d;

body{
    background: rgb(255, 194, 41);
    font-family: arial,sans-serif;


    .poke_banner{
        height: 200px;
        margin: 0 auto;
        background-image: url('/static/css/img/poke.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;   
    }

    h1{
        margin-top: 15px;
        font-family: sans-serif ;
        font-size: 2em;
        text-align: center;
    }

    .content_import{
        width: 70vw;
        margin: 0 auto;
    }

    table {
        width: 70vw;
        margin: 25px auto;
        text-align: center;
        background-color:$table-background-color;
        font-size: 0.8em;
        border-collapse: collapse;

        tr {
            &:last-child {
                td {
                    border-bottom: 0;
                }
            }
            th,td {
                text-align: left;
                padding: 15px;
                box-sizing: border-box;
            }
            th {
                color: $table-header-color;
                background-color: $table-header-background-color;
                border-bottom: solid 2px #d8d8d8;
                position: sticky;
                top: 0;
            }
            td {
                border: solid 1px #d8d8d8;
                border-left: 0;
                border-right: 0;
                white-space: nowrap;
            }
        }

        .content_tr{
            transition: background-color 150ms ease-out;
            &:nth-child(2n) {
            background-color: $table-even-background-color;
            }
            &:hover {
            background-color: $table-hover-background-color;
            }
        }
    }

    .table-sortable {
        
        th{
            cursor: pointer;
        }

        .th-sort-asc::after{
            content: "\25b4";
            margin-left: 5px;
        }

        .th-sort-desc::after{
            content: "\25be";
            margin-left: 5px;
        }

        .th-sort-asc,
        .th-sort-desc{
            background:  rgba(0,0,0,0.5);
        }

    }


    .update_form{
        background: $form-bg;
        width: min(450px);
        font-size: 0.8em;
        margin: 10px auto;
        border-top: 10px solid $form-border;  
        
        input,label{
            margin: 5px 10px;
        }

        #btn_submit{
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 22px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        
    }

    .pikachu_edit{
        height: 300px;
        margin: 0 auto;
        background-image: url('/static/css/img/pikachu_writing.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;   
    }


}
